.auth-container {
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;

  .auth-logo {
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  .auth-body {
    width: 530px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 70px;
  }
}
