<div class="forgot-password-form">
  <dx-validation-group #loginValidateGroup>
    <h1>Forgot Password</h1>
    <div class="form-group">
      <div class="option">
        <span>Email:</span>
        <dx-text-box name="Login" [(value)]="username">
          <dx-validator>
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="email"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <button class="forgot-password-btn" (click)="onForgotPassword()">
      Reset Password
    </button>
    <a class="login-psw" href="auth/login">Login</a>
  </dx-validation-group>
</div>
